@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Roboto+Mono:wght@300&family=Ubuntu&display=swap');

body {
 background-color:#F2B705;
 padding:20px;
 margin:0;
 font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
li,
p,
ul {
 font-family: 'Baloo Bhaijaan 2', cursive;
}
ul.header li {
 display:inline;
 list-style-type:none;
 margin:0
}
ul.header {
 background-color:#0388A6;
 padding:0
}
ul.header li a {
 color:#fff;
 font-weight:700;
 text-decoration:none;
 padding:20px;
 display:inline-block;
}
.content {
 background-color:#F1ECDF;
 padding:20px
}
.content h2 {
 padding:0;
 margin:0;
}
.content li {
 margin-bottom:10px
}
.active {
 background-color:#09f
}
.fade-enter {
 opacity:0;
 z-index:1
}
.fade-enter.fade-enter-active {
 opacity:1;
 -webkit-transition:opacity .25s ease-in;
 -o-transition:opacity .25s ease-in;
 transition:opacity .25s ease-in
}

.c1-ui-state-hover {
  background-color:yellow !important;
  padding:5px !important 
}

@media (min-width: 30em) and (max-width: 50em){


} 